.contacts__container{
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(181, 219, 207);
}

.contacts_list {
    padding: 0;
    display: table;
    margin: 0 auto;
}

.contact_item{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(95, 169, 182);
}
.contact_item:not(:last-child){
    margin-bottom: 5px;
}
.btn {
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
    background-color: rgb(160, 143, 143);
}

.btn:hover {
    background-color: rgb(209, 69, 69);
}

.contacts__input {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
        border-radius: 10px 10px 10px 10px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 1px 1px 3px #333333;
        cursor: pointer;
        font-weight: bold;
        padding: 5px;
        text-align: center;
}

.contacts__quantity {
    color: tomato;
}

.contacts__title {
    text-align: center;
    margin-bottom: 10px;
}




